.about-us-banner{
    background-image: url("../img/about-us/banner.png");
    .text-cont{
        p{
            margin: 0 20%;
            @media (max-width:575px){
                margin: 0 5%;
            }
        }
    }
}