.diseases-banner{
    background-image: url(../img/common/banner.png);
    padding: 140px 0;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width:1399px){
        background-size: contain;
        padding: 85px 0;
    }
    @media (max-width:1199px){
        background-size: cover;
    }
    .text-cont{
        text-align: center;
        h1{
            font-size: 64px;
            line-height: 75px;
            color: #FCFCFC;
            font-weight:600;
        }
        p{
            color: #fcfcfc;
            margin: 0 5%;
        }
    }
}