.diseases-cont{
    padding-top: 30px;
    padding-bottom: 45px;
    .right-text{
        border-right: 2px solid #EAEAEA;
        @media (max-width:991px){
            border: 0;
            margin-bottom: 50px;
        }
        h4{
            font-weight: 600;
            margin-top: 10px;
            font-size: 22px;
            line-height: 26px;
            color: #323232;
            margin-bottom:20px;
        }
        ul{
            li{
                a{
                    font-size: 16px;
                    line-height: 175%;
                    color: #323232;
                    font-weight: 500;
                    display: block;
                    margin-bottom: 3px;
                }
            }
        }
    }
    .left-text{
        .top-cont{
            .search-cont{
                .input-group{
                    background: #FCFCFC;
                    border: 1px solid #E9E9E9;
                    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
                    border-radius: 12px;
                    padding: 15px 10px 15px 25px;
                    input{
                        width: 90%;
                        border: 0;
                        outline: 0;
                        background: #fff0;
                    }
                    button{
                        border: 0;
                        outline: 0;
                        width: 10%;
                        background: #fff0;
                    }
                }
            }
            .pagination{
                margin: 15px 0 35px;
                span{
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    color: #323232;
                    margin-top: 1px;
                    margin-right: 3px;
                }
                ul{
                    display: flex;
                    @media (max-width:991px){
                        flex-wrap: wrap;
                    }
                    li{
                        padding: 0 10px;
                        @media (max-width:1199px){
                            padding: 0 8px;
                        }
                       &:has(.active){
                        border-bottom:2px solid $blu;
                       }
                        }
                        a{
                            font-size: 16px;
                            line-height: 19px;
                            color: #323232;
                            font-weight: 600;
                            &.active{
                            }
                        }
                    }
                }
        }
        .top-drug{
            margin: 0 10% 5% 10%;
            @media (max-width:767px){
                margin: 0 5% 5%;
            }
            .radio-cont{
                text-align: center;
                margin-bottom: 25px;
                form{
                    span{
                        margin-right: 30px;
                    }
                    [type="radio"]:checked,
                    [type="radio"]:not(:checked) {
                        position: absolute;
                        left: -9999px;
                    }
                    
                    [type="radio"]:checked + label{
                        font-weight: 600;
                    }
                    [type="radio"]:not(:checked) + label{
                        font-weight: 500;
                    }
                
                    [type="radio"]:checked + label,
                    [type="radio"]:not(:checked) + label{
                        position: relative;
                        padding-left: 32px;
                        cursor: pointer;
                        line-height: 20px;
                        display: inline-block;
                        color: #000;
                    }
                    [type="radio"]:checked + label:before,
                    [type="radio"]:not(:checked) + label:before {
                        content: '';
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 22px;
                        height: 22px;
                        border-radius: 100%;
                        background: #9F9F9F;
                        border: 5px #fff solid;
                        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
                    }
                    [type="radio"]:checked + label:after,
                    [type="radio"]:not(:checked) + label:after {
                        content: "";
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        border-radius: 100%;
                        transition: all 0.2s ease;
                        background: #0797FF;
                        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
                    }
                    [type="radio"]:not(:checked) + label:after {
                        opacity: 0;
                        -webkit-transform: scale(0);
                        transform: scale(0);
                    }
                    [type="radio"]:checked + label:after {
                        opacity: 1;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }
            }
        }
        .inner-list{
            @media (max-width:767px){
                margin-bottom:50px;
            }
            ul{
                padding-left: 15px;
                li{
                    position: relative;
                    &:before{
                        content: "";
                        position: absolute;
                        left: -10px;
                        top: 10px;
                        height: 4px;
                        width: 4px;
                        background: #0360a3;
                        border-radius: 10px;
                    }
                    a{
                        font-size: 12px;
                        line-height: 220%;
                        text-decoration-line: underline;
                        color: #0360A3;
                    }
                }
            }
        }
        .news-cont{
            h5{
                font-size: 18px;
                line-height: 21px;
                font-weight: 600;
                position: relative;
                &:before{
                    background: $blu;
                    content: "";
                    position: absolute;
                    bottom: -12px;
                    height: 3px;
                    width: 90px;
                }
            }
            ul{
                margin: 20px 0;
                li{
                    display: flex;
                    padding: 15px 0;
                    border-bottom: 1px #D9D9D9 solid;
                    &:last-child{
                        border: 0;
                    }
                    .img-cont{
                        width: 25%;
                        @media (max-width:767px){
                            width: 10%;
                        }
                    }
                    .text-cont{
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        align-content: center;
                        width: 75%;
                        @media (max-width:767px){
                            width: 90%;
                        }
                        h6{
                            margin: 0 0 0 15px;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 16px;
                        }
                        p{
                            margin: 0 0 0 15px;
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
        .text-cont{
            a{
                font-size: 14px;
                line-height: 16px;
                text-decoration-line: underline;
                color: $blu;
                font-weight: 600;
            }
            h3{
                font-size: 22px;
                line-height: 220%;
                color: #323232;
                font-weight: 600;
            }
            h4{
                font-size: 18px;
                line-height: 220%;
                color: #000000;
                font-weight: 600;
            }
            p{
                font-size: 14px;
                line-height: 16px;
                color: #000000;
                font-weight: 500;

            }
            ul{
                li{
                    a{
                        font-size: 14px;
                        line-height: 16px;
                        color: #000000;
                        text-decoration: none;
                        font-weight: 500;
                    }
                }
            }

        }
        .video-cont{
            margin-bottom: 120px;
            margin-top: 35px;
            background-image:url(../img/common/video-bg.png);
            background-repeat: no-repeat;
            height: 380px;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
            border-radius: 8px;
            @media (max-width:991px){
                background-size: cover;
            }
            @media (max-width:575px){
                height:280px;
                margin-bottom: 50px;

            }
            a{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    .svg-cont{
                        background: red;
                    }
                }
                .svg-cont{
                    background: #323232;
                    opacity: 0.75;
                    border-radius: 10px;
                    padding: 6px 30px;
                }
            }
        }
    }
}