footer{
    background: #002B49;
    padding-top: 25px;
    .footer-top{
        p{
            font-size: 16px;
            line-height: 145%;
            color: #FCFCFC;
            margin-top:85px;
            @media (max-width:991px){
                margin-top: 35px;
            }
        }
        h3{
            font-size: 20px;
            line-height: 145%;
            color: #FCFCFC;
            font-weight: 600;
        }
        .inner-text{
            h3{
                margin-left: 10px;
                margin-bottom: 12px;
                @media (max-width:767px){
                    margin-left: 0;
                }
            }
            input{
                margin-left: 10px;
                background: #064F85;
                border-radius: 12px;
                margin-bottom: 12px;
                color: #fcfcfc;
                padding: 10px 20px;
                border: 0;
                outline: 0;
                &::placeholder{
                    font-size: 14px;
                    line-height: 145%;
                    color: #FCFCFC;
                }
                @media (max-width:767px){
                    margin-left: 0;
                }
            }
            .social-links{
                display: flex;
            }
        }
        ul{
            li{
                a{
                    font-size: 12px;
                    line-height: 145%;
                    color: #FCFCFC;
                }
            }
        }
    }
    .footer-bottom{
        .inner-cont{
            border-top:1px solid #E0E0E0;
            text-align: center;
            margin-top: 20px;
            p{
                margin-bottom: 0;
                font-size: 14px;
                line-height: 150%;
                color: #E0E0E0;
                padding: 12px 0;
            }
        }
    }
}