header{
    .fixed-top {
        top: -40px;
        transform: translateY(40px);
        transition: transform .3s;
    }
    .navbar{
        padding:0;
        background: #FCFCFC;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
        ul{
            li{
                a{
                    @media (max-width:1130px){
                        font-size: 14px;
                    }
                    @media (max-width:1024px) {
                        padding: 8px 6px !important;
                    }
                    &:hover,
                    &.active{
                        font-weight: 600;
                    }
                }
            }
           &:first-child{
            margin: auto;
           }
        }
        .login{
            border-left: 1px solid #E4E4E4;
            padding-left: 12px;
            @media (max-width:1130px){
                padding-left: 5px;
            }
            @media (max-width:991px){
                padding: 0 0 25px 0;
                border: 0;
                border-top: 1px solid #e4e4e4;
            }
            li{
                &:last-child{
                    background: $blu;
                    padding: 0 8px;
                    border-radius: 8px;
                    margin-left: 12px;
                    border: 1px $blu solid;
                    transition: .5s;
                    @media (max-width:1130px){
                        padding: 0;
                        margin-left: 5px;
                    }
                    @media (max-width:991px){
                        margin-left:0;
                    }
                    &:hover{
                        background: #fff0;
                        a{
                            color: $blu;
                        }
                    }
                    a{
                        font-size: 14px;
                        color: #FCFCFC;
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}