h1 {
  color: #000;
}
h1 span {
  color: #0797FF;
}

h2 {
  color: #000;
}
h2 span {
  color: #0797FF;
}

h3 {
  color: #000;
}
h3 span {
  color: #0797FF;
}

h4 {
  color: #000;
}
h4 span {
  color: #0797FF;
}

h5 {
  color: #000;
}
h5 span {
  color: #0797FF;
}

h6 {
  color: #000;
}
h6 span {
  color: #0797FF;
}

a {
  text-decoration: none;
  color: #0797FF;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 1170px;
}

body {
  font-family: Gilroy;
}

p {
  font-size: 16px;
  line-height: 145%;
  color: #000;
}

.v-center {
  display: flex;
  align-items: center;
}/*# sourceMappingURL=default.css.map */