$blk:#000;
$blu: #0797FF;;

h1{
  color: $blk;
  span{
    color:$blu;
  }
}
h2{
  color: $blk;
  span{
    color:$blu;
  }
}
h3{
  color: $blk;
  span{
    color:$blu;
  }
}
h4{
  color: $blk;
  span{
    color:$blu;
  }
}
h5{
  color: $blk;
  span{
    color:$blu;
  }
}
h6{
  color: $blk;
  span{
    color:$blu;
  }
}

a{
  text-decoration: none;
  color: $blu;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container{
  max-width: 1170px;
}
body{
  font-family: Gilroy;
}
p{
  font-size: 16px;
  line-height: 145%;
  color: $blk;
}
.v-center{
  display: flex;
  align-items: center;
}

