.doctors-cont{
    .filter-cont{
        margin: 50px 0;
    }
    .inner-cont{
        .card{
            margin-bottom: 20px;
            border: 0;
            background: #FCFCFC;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
            border-radius:12px;
            .img-cont{
                border-radius: 12px 12px 0 0;
                img{
                    border-radius: 12px 12px 0 0;
                    @media (max-width:767px){
                        width: 100%;
                    }
                }
            }
            .text-cont{
                border-top: $blu 2px solid;
                text-align: center;
                padding: 15px;
                h3{
                    font-size: 24px;
                    line-height: 28px;
                    color: #000000;
                    font-weight: 600;
                }
                h5{
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    letter-spacing: 0.15em;
                    color: $blu;
                    margin-bottom: 15px;
                }
                ul:has(svg){
                    display: flex;
                    justify-content: center;
                    li{
                        margin-right: 18px;
                    }
                }
                a{
                    font-size: 18px;
                    line-height: 21px;
                    color: #FCFCFC;
                    padding: 18px;
                    background: $blu;
                    display: block;
                    border-radius: 8px;
                    margin: 15px 0;
                    font-weight: 500;
                }
                .dropdown{
                    button{
                        background: rgba(199, 199, 199, 0.75);
                        border-radius: 12px;
                        font-size: 16px;
                        line-height: 19px;
                        color: #FCFCFC;
                        padding: 10px 40px;
                        border: 0;
                    }
                }
            }
        }
    }
}