.about-us-home{
    padding-top: 70px;
    .img-cont{
        @media (max-width:1199px){
            display: flex;
            height: 100%;
            align-items: center;
        }
        img{
            @media (max-width:767px){
                width: 100%;
            }
        }
    }
    .text-cont{
        h4{
            font-size: 18px;
            line-height: 103.37%;
            letter-spacing: 0.185em;
            color: #757575;
            margin-top: 20px;
            margin-bottom: 17px;
            font-weight:700;
        }
        h2{
            font-size: 34px;
            line-height: 103.37%;
            margin-bottom: 17px;
            font-weight: 600;
        }
        p{
            margin-bottom: 15px;
        }
    }
    .ceo-cont{
        display: flex;
        .profile-cont{
            img{
                border-radius: 100%;
            }
        }
        .text-content{
            margin-left: 20px;
            h5{
                margin-bottom: 10px;
                font-size: 22px;
                line-height: 103.37%;
                font-weight: 600;
            }
            h6{
                margin-bottom: 0;
                font-weight: 600;
                color: $blu;
                font-size: 14px;
                line-height: 103.37%;
            }
        }
    }
    .last-sec{
        margin: 5% 0;
        .text-cont{
            margin-top: 5%;
        }
    }
}