.banner{
  background:linear-gradient(90deg, #F7F5F6 80%, #fff 100%);
  .inner-bg{
    background-image: url(../img/home/banner.png);
    background-position: right;
    padding: 122px 0;
    background-repeat: no-repeat;
    @media (max-width:1033px){
      padding: 110px 0;
    }
    .text-cont{
      h3{
        font-size: 34px;
        line-height: 33px;
        font-weight: 600;
        margin-bottom: 5px;
      }
      h1{
        font-weight: 700;
        font-size: 55px;
        margin-bottom:0;
        @media (max-width:991px){
          font-size: 45px;
        }
        @media (max-width:444px){
          font-size: 35px;
        }
      }
      h2{
        font-size: 60px;
        font-weight: 400;
        @media (max-width:991px){
          font-size: 50px;
        }
        @media (max-width:444px){
          font-size: 35px;
        }
      }
      p{
        font-size: 16px;
        line-height: 145%;
        margin-top: 30px;
        font-weight: 500;
        margin-bottom: 45px;
      }
    }
    .input-group{
      background: #FCFCFC;
      box-shadow: 0px 4px 24px rgb(0 0 0 / 12%);
      border-radius: 12px;
      padding: 8px 6px 8px 25px;
      justify-content: space-between;
      input{
        border: 0;
        background: #fff0;
        outline: 0;
        width: 80%;
        @media (max-width:991px){
          width: 74%;
        }
        @media (max-width:444px){
          width: 65%;
        }
      }
      button{
        border: 0;
        background: $blu;
        outline:0;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
        border-radius: 10px !important;
        font-size: 16px;
        line-height: 19px;
        color: #FCFCFC;
        font-weight: 500;
        padding: 12px 25px;
      }
    }
  }
}