.contact-us-home{
    margin-bottom:40px;
    .text-cont{
        background-image: url(../img/home/contact-us-bg.png);
        background-repeat: no-repeat;
        padding:112px 70px 30px 70px;
        border-radius: 0 0 100px 0;
        @media (max-width:1199px){
            padding: 100px 50px 25px 50px;
        }
        @media (max-width:991px){
            padding: 35px 15px 25px 15px;
        }
        @media (max-width:767px){
            background-size: cover;
        }
        h3{
            font-size: 26px;
            line-height: 145%;
            color: #FCFCFC;
            font-weight: 600;
        }
        p{
            font-size: 16px;
            line-height: 145%;
            color: #FCFCFC;
            margin-bottom: 90px;
        }
        ul{
            li{
                display: flex;
                align-items: center;
                margin-bottom: 55px;
                a{
                    font-size: 18px;
                    line-height: 145%;
                    color: #FCFCFC;
                    font-weight: 500;
                }
                svg{
                    margin-right: 30px;
                }
            }
        }
        .social-text{
            display: flex;
            margin-bottom: 30px;
            margin-top: 100px;
            h4{
                font-size: 16px;
                line-height: 145%;
                color: #FCFCFC;
                margin: 5px 30px 0 0;
            }
            ul{
                display: flex;
                li{
                    margin-bottom: 0;
                    a{
                        svg{
                            margin-right: 25px;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
    .inner-text{
        h4{
            color: $blu;
            font-size: 18px;
            line-height: 103.37%;
            letter-spacing: 0.185em;
            text-transform: uppercase;
            margin-top: 75px;
            font-weight:600;
        }
        h2{
            font-weight: 600;
            font-size: 34px;
            line-height: 145%;
            margin-bottom: 25px;
        }
    }
    .form-cont{
        input,
        textarea{
            background: #F3F3F3;
            border: 0;
            margin-bottom: 29px;
            padding: 17px 30px;
            border-radius: 12px;
            &::placeholder{
                font-size: 16px;
                line-height: 145%;
                color: #9A9C9D;
            }
        }
        textarea{
            max-height: 110px;
            width: 100%;
            outline: none;
            resize: none;
        }
        .btn{
            border: 0;
            font-size: 16px;
            line-height: 19px;
            color: #FCFCFC;
            background: #0797FF;
            border-radius: 30px;
            font-weight:600;
            padding: 18px 50px;
            transition: .3s;
        }
    }
}