.healthcare-services{
    .inner-cont{
        border-radius: 150px 0 0 0;
        background: #EDFBFF;
        padding: 40px 0 80px;
        @media (max-width:767px){
            padding: 60px 0;
            margin-top: 30px;
        }
        .top-text-cont{
            text-align: center;
            h2{
                font-weight: 400;
                font-size: 34px;
                line-height: 103.37%;
                margin-bottom: 35px;
                color: #565656;
                span{
                    font-weight:600;
                }
            }
        }
        .card{
            background: #FCFCFC;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
            border-radius: 12px;
            border: 0;
            text-align: center;
            padding: 70px 25px 20px;
            height: 100%;
            @media (max-width:767px){
                height: auto;
                margin-bottom: 30px;
            }
            .img-cont{
                margin-bottom:50px;
                height: 90px;
            }
            .text-cont{
                h3{
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 103.37%;
                    margin-bottom: 17px;
                }
                p{
                    font-size: 12px;
                    line-height: 145%;
                    color: #626262;
                }
                a{  
                    font-size: 14px;
                    line-height: 103.37%;
                    float: right;
                    font-weight: 600;
                    svg{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    
}