.our-specialists{
    margin-top: 75px;
    margin-bottom: 30px;
    .text-cont{
        text-align: center;
        h5{
            font-size: 18px;
            line-height: 103.37%;
            letter-spacing: 0.185em;
            text-transform: uppercase;
            color: #757575;
            font-weight: 600;
        }
        h2{
            font-size: 34px;
            line-height: 103.37%;
            color: #565656;
            font-weight: 400;
            margin-bottom: 17px;
            span{
                font-weight: 600;
            }
        }
        p{
            max-width: 70%;
            margin: 0 auto 50px;
        }
    }
    .card{
        margin-bottom: 30px;
        border:0;
        border-radius: 12px;
        .img-cont{
            filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.12));
            border-radius:12px 12px 0 0;
            img{
                @media (max-width:575px){
                    width: 100%;
                }
            }
        }
        .inner-text{
            text-align: center;
            border-top: 2px solid #0797FF;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
            border-radius: 0 0 12px 12px;
            h6{
                margin-bottom: 0;
                font-size: 18px;
                line-height: 21px;
                font-weight: 600;
                margin-top: 13px;
            }
            a{
                margin-bottom: 12px;
                display: block;
                font-size: 14px;
                margin-top: 5px;
                line-height: 16px;
                font-weight: 600;
            }
        }
    }
    .arrow-btn{
        background: $blu;
        font-size: 16px;
        line-height: 19px;
        color: #FCFCFC;
        padding: 18px 32px;
        border-radius: 30px;
        display: block;
        width: fit-content;
        margin: 30px auto;
        svg{
            margin-left: 10px;
        }
    }
}