.trending-topics{
    background:linear-gradient(90deg, #f4f5f6 90%, #fff 100%);
    .inner-cont{
        background-image: url(../img/home/bg.png);
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 32px;
        padding-bottom: 60px;
        .top-text-cont{
            text-align: center;
            h5{
                font-size: 18px;
                line-height: 103.37%;
                letter-spacing: 0.185em;
                text-transform: uppercase;
                font-weight: 600;
                color: #757575;
            }
            h2{
                font-size: 34px;
                line-height: 103.37%;
                text-align: center;
                color: #565656;
                font-weight: 400;
                margin-bottom: 17px;
                span{
                    font-weight: 600;
                }
            }
            p{
                font-size: 16px;
                line-height: 145%;
                text-align: center;
                color: #565656;
                max-width: 70%;
                margin: 0 auto 55px;
            }
        }
        .col-md-4{
        &:nth-child(1){
            .card{
                .img-cont{
                    background-image: url(../img/home/10.png);
                }
            }
        }
        &:nth-child(2){
            .card{
                .img-cont{
                    background-image: url(../img/home/11.png);
                }
            }
        }
        &:nth-child(3){
            .card{
                .img-cont{
                    background-image: url(../img/home/12.png);
                }
            }
        }
        }
        .card{
        border:0;
        background: #FCFCFC;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        padding: 8px 6px;
        @media (max-width:767px){
            margin-bottom: 30px;
        }
        .img-cont{
            padding: 93px 0;
            text-align: center;
            background-size: cover;
            border-radius: 12px;
            a{
                background: #323232bf;
                border-radius: 10px;
                padding: 10px 30px;
                &:hover{
                    background:#FF0000;
                }
            }
        }
        .text-cont{
            padding: 6px;
            h6{
                font-weight: 600;
                font-size: 14px;
                line-height: 145%;
                color: #565656;
                margin-top: 5px;
            }
            p{
                font-size: 12px;
                line-height: 145%;
                color: #454545;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            a{
                background: $blu;
                border-radius: 8px;
                display: block;
                text-align: center;
                font-size: 18px;
                line-height: 145%;
                color: #FCFCFC;
                padding: 12px;
                font-weight: 600;
                border:2px $blu solid;
                &:hover{
                    
                }
            }
        }
        }
    }
}