.filter{
  padding: 50px 0 24px;
  border-bottom: 1px solid #D9D9D9;
  input{
    border: 1px solid #E3E3E3;
    border-radius: 8px;
    font-size: 12px;
    line-height: 120%;
    color: #000;
    width: 100%;
    padding: 12px 15px;
    @media (max-width:991px) {
      margin-bottom:15px;
    }
    &::placeholder{
      color: #565656;
    }
    &:focus-visible{
      outline:0;
    }
    position: relative;
  }
  .search:has(input),
  .location:has(input){
    position: relative;
    &:before{
      content:' ';
      position: absolute;
      right: 15px;
      top: 12px;
      height: 16px;
      width: 16px;
      z-index: 1;
      background-repeat: no-repeat;
    }
  }
  .search:has(input){
    &:before{
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.33333 12.6667C10.2789 12.6667 12.6667 10.2789 12.6667 7.33333C12.6667 4.38781 10.2789 2 7.33333 2C4.38781 2 2 4.38781 2 7.33333C2 10.2789 4.38781 12.6667 7.33333 12.6667Z' stroke='%23565656' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14 14L11.1 11.1' stroke='%23565656' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }
  .location:has(input){
    &:before{
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 5.74086C0 2.56606 2.65302 0 5.86211 0C9.08025 0 11.7333 2.56606 11.7333 5.74086C11.7333 7.34067 11.1514 8.82593 10.1938 10.0848C9.13732 11.4734 7.83517 12.6833 6.36947 13.633C6.03402 13.8524 5.73127 13.869 5.36311 13.633C3.88905 12.6833 2.5869 11.4734 1.53947 10.0848C0.581131 8.82593 0 7.34067 0 5.74086ZM3.93008 5.91965C3.93008 6.9832 4.79794 7.8197 5.86207 7.8197C6.9269 7.8197 7.80312 6.9832 7.80312 5.91965C7.80312 4.86438 6.9269 3.98717 5.86207 3.98717C4.79794 3.98717 3.93008 4.86438 3.93008 5.91965Z' fill='%23565656'/%3E%3C/svg%3E");
    }
  }
  button{
    padding: 8px;
    width: 100%;
  }
  ul{
    display:flex;
    justify-content:center;
    margin-top:24px;
    margin-bottom:0;
    @media (max-width:767px) {
      display:block;
      padding: 0;
    }
    li{
      margin-right: 20px;
      @media (max-width:767px) {
        margin-right:0;
      }
      select{
        background:#dfdfdf80;
        border-radius: 8px;
        border: 0;
        font-size: 14px;
        line-height: 16px;
        color: #808080;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.38462 1.65384L4.69231 5.34615L1 1.65384' stroke='%23808080' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-position-x: 90%;
        background-position-y: 50%;
        padding:10px 2em 10px 15px;
        @media (max-width:767px) {
          margin-bottom:15px;
          width: 100%;
          background-position-x: 98%;
        }
        &:focus-visible{
          outline: 0;
        }
        option{
          background: white;
        }
      }
    }
  }
}