.patient-register{
  padding: 35px 0;
  .card{
    padding: 25px 20px;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    margin-bottom: 15px;
    transition: .5s;
    &:hover{
      border: 1px solid $blue;
    }
    .top-cont{
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      h4{
        font-size: 22px;
        line-height: 26px;
        color: #323232;
        margin:0;
      }
      .svg-cont{
        cursor: pointer;
      }
    }
    .hospital-name{
      h5{
        color:$blue;
        font-size:12px;
        line-height:14px;
        margin-bottom: 10px;
      }
      h6{
        font-size:12px;
        line-height:14px;
        color: #858585;
        font-weight: 500;
        margin-bottom: 10px;
        svg{
          margin-bottom: 3px;
          margin-right: 5px;
        }
      }
    }
    .hourly-based{
      margin-bottom: 2px;
      span{
        background: rgba(223, 223, 223, 0.5);
        border-radius: 4px;
        padding: 4px 6px;
        font-size: 12px;
        line-height: 14px;
        color: #808080;
        margin-right: 8px;
      }
    }
    .hourly-based.d-block{
      display: block;
      span{
        display: block;
        width: fit-content;
      }
    }
    .date-and-time{
      margin-bottom: 10px;
      span{
        background: rgba(223, 223, 223, 0.5);
        border-radius: 4px;
        padding: 4px 6px;
        font-size: 12px;
        line-height: 14px;
        color: #808080;
        margin-right: 8px;
        svg{
          margin: 0 5px 3px 0;
        }
      }
    }
    .urgently-hiring{
      h6{
        font-size:12px;
        line-height:14px;
        color: #858585;
        font-weight: 500;
        margin-bottom: 10px;
        svg{
          margin: 0 7px 3px 0;
        }
      }
    }
    .inner-text{
      p{
        font-size: 12px;
        line-height: 14px;
        color: #808080;
        margin-bottom: 0;
        display: flex;
      }
      a{
        font-size: 12px;
        line-height: 14px;
        color:$blue;
      }
    }
    .apply-now{
      a{
        padding: 10px 75px;
        display: block;
        width: fit-content;
        margin-bottom: 15px;
        margin-top: 5px;
        @media (max-width:767px){
          width: 100%;
        }
      }
    }
    .job-details{
      padding: 15px 0;
      border-top: 1px solid #E2E2E2;
      h4{
        font-size: 18px;
        line-height: 21px;
        color: #323232;
      }
      h5{
        font-size: 14px;
        line-height: 16px;
        color: #323232;
      }
      h6{
        font-size: 12px;
        line-height: 14px;
        color: #808080;
        font-weight: 500;
        svg{
          margin:0 5px 3px 0;
        }
      }
      p{
        font-size: 12px;
        line-height: 14px;
        color: #808080;
      }
      a{
        background: rgba(223, 223, 223, 0.5);
        border-radius: 8px;
        font-size: 14px;
        line-height: 16px;
        color: #808080;
        padding: 14px 25px 14px 15px;
        display: block;
        width: fit-content;
        @media (max-width:767px){
          width: 100%;
          text-align: center;
        }
        svg{
          margin-right:8px;
        }
      }
    }

  }
}