.news-feeds-cont{
    padding-top: 25px;
    .card-cont{
        padding-left: 80px;
        padding-right: 80px;
        @media (max-width:575px){
            padding-left: 40px;
            padding-right:0;
        }
        .card{
            border: 0;
            padding-bottom: 55px;
            &::before{
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg width='82' height='22' viewBox='0 0 82 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='11' fill='%230797FF'/%3E%3Cline x1='10' y1='12' x2='82' y2='12' stroke='%230797FF' stroke-width='2'/%3E%3C/svg%3E");
                position: absolute;
                left: -80px;
                height: 22px;
                width: 82px;
                z-index: 1;
                @media (max-width:575px){
                    left: -40px;
                }
            }
            &::after{
                content: "";
                height: 100%;
                border-left:2px dashed #BCBCBC;
                position: absolute;
                left: -70px;
                @media (max-width:575px){
                    left: -30px;
                }
            }
            &:last-child{
                &::after{
                    content: "";
                    display: none;
                }  
            }
            .card-top{
                background: $blu;
                padding: 8px 15px;
                h5{
                    font-size: 16px;
                    line-height: 19px;
                    color: #FCFCFC;
                    margin-bottom: 5px;
                }
                h2{
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 33px;
                    color: #FCFCFC;
                }
                h6{
                    font-size: 14px;
                    line-height: 16px;
                    color: #FCFCFC;
                    margin-bottom: 0;
                    font-weight: 300;
                }
            }
            .card-bottom{
                background: #F1F1F1;
                padding: 15px;
                .imd-cont{
                    img{
                        
                    }   
                }
                .bottom-text{
                    p{
                        margin: 15px 0 0;
                        font-size: 14px;
                        line-height: 14px;
                        color: #000;
                    }
                }
            }
        }
    }
    
    .search-cont{
        display: flex;
        border:1px solid #D9D9D9 ;
        margin-bottom: 80px;
        input{
            border: 0;
            width: 80%;
            padding: 18px 0 18px 35px;
            outline: 0;
        }
        button{
            background: #D9D9D9;
            border: 0;
            width: 20%;
        }
    }

    .tags{
        @media (max-width:991px){
            margin-bottom: 50px;
        }
        h5{
            font-size: 18px;
            line-height: 21px;
            font-weight: 600;
            position: relative;
            margin-bottom: 25px;
            &::after{
                content: "";
                background: #0797FF;
                position: absolute;
                bottom: -12px;
                left: 0;
                height: 3px;
                width: 90px;
            }
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                background: $blu;
                border-radius: 8px;
                font-size: 16px;
                line-height: 19px;
                color: #FCFCFC;
                margin-left: 5px;
                margin-bottom: 5px;
                padding:15px 25px;
            }
        }
    }

    .news-cont{
        h5{
            font-size: 18px;
            line-height: 21px;
            font-weight: 600;
            position: relative;
            &:before{
                background: $blu;
                content: "";
                position: absolute;
                bottom: -12px;
                height: 3px;
                width: 90px;
            }
        }
        ul{
            margin: 20px 0;
            li{
                display: flex;
                padding: 15px 0;
                border-bottom: 1px #D9D9D9 solid;
                &:last-child{
                    border: 0;
                }
                .img-cont{
                    width: 25%;
                    @media (max-width:767px){
                        width: 10%;
                    }
                }
                .text-cont{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    align-content: center;
                    width: 75%;
                    @media (max-width:767px){
                        width: 90%;
                    }
                    h6{
                        margin: 0 0 0 15px;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 16px;
                    }
                    p{
                        margin: 0 0 0 15px;
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
            }
        }
    }

    .archives-cont{
        h5{
            font-size: 18px;
            line-height: 21px;
            font-weight: 600;
            position: relative;
            &:before{
                background: $blu;
                content: "";
                position: absolute;
                bottom: -12px;
                height: 3px;
                width: 90px;
            }
        }
        ul{
            margin: 20px 0;
            li{
                padding-top: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid #D9D9D9;
                a{
                    display: flex;
                    justify-content: space-between;
                    span{
                        font-size: 18px;
                        line-height: 21px;
                        color: #000000;
                    }
                }
            }
        }
    }

    .categories-cont{
        h5{
            font-size: 18px;
            line-height: 21px;
            font-weight: 600;
            position: relative;
            &:before{
                background: $blu;
                content: "";
                position: absolute;
                bottom: -12px;
                height: 3px;
                width: 90px;
            }
        }
        select{
            padding: 22px 15px;
            border: 1px solid #D9D9D9;
            border-radius: 12px;
            margin: 25px 0;
            width: 100%;
            font-size: 18px;
            line-height: 21px;
            outline:0;
        }
    }

}