.contact-us-cont{
    padding-bottom: 65px;
    .img-cont{
        @media (max-width:1199px){
            display: flex;
            height: 100%;
            align-items: center;
        }
        img{
            margin-top:-13px;
            @media (max-width:1399){
                margin-top: -35px;
            }
            @media (max-width:767px){
                width: 100%;
            }
        }
    }
    .text-cont{
        padding-top: 55px;
        h2{
            font-size: 50px;
            line-height: 59px;
            color: #1E1E1E;
            margin-bottom: 20px;
            span{
                font-weight: 600;
            }
        }
        h6{
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            color: #000000;
            margin-bottom: 20px;
        }
        h3{
            font-weight: 600;
            font-size: 42px;
            line-height: 63px;
            color: $blu;
            margin-bottom:0;
        }
        p{
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #565656;
        }

    }
    form{
        label{
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: #000;
            span{
                color: red;
            }
        }
        input{
            border: 0;
            background: #FCFCFC;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
            border-radius: 6px;
            outline: 0;
            border-color:#fff0;
            margin-bottom: 12px;
            &::placeholder{
                font-size: 12px;
                line-height: 18px;
                color: #C6C6C6;
            }

        }
        button{
            background: $blu;
            border-radius: 6px;
            border: 1px solid $blu;
            font-size: 14px;
            line-height: 18px;
            transition: .5s;
            margin-bottom: 10px;
            padding: 10px 0;
            &:hover{
                background: #fff;
                border-color: $blu;
                color: $blu;
            }
            &.reset{
                background: #EBEBEB;
                border: 1px solid #EBEBEB;
                color: #B9B9B9;
                &:hover{
                    border-color: #B9B9B9;
                    background: #fff;
                }
            }
        }
    }
}