$red:#E12025;
$blue:#1770EA;
$white:#FFF;
$p-primary-font-size:16px;
$myFontSize: 18px;

//default
body{
  font-family: 'Gilroy';
  font-style: normal;
  overflow-x: hidden;
}

//container
.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 1170px;
}

ul{
  list-style: none;
  font-weight: 500;
}
a{
  text-decoration: none;
}
.default-btn{
  color: $white;
  background: $blue;
  text-align: center;
  padding: 10px 20px;
  border-radius: 8px;
  border:0;
  font-weight: 500;
  &:hover{
    color: $white;
  }
}
h1,h2,h3,h4,h5,h6{
  font-weight:600;
}