@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold.eot');
    src: url('Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Bold.woff2') format('woff2'),
        url('Gilroy-Bold.woff') format('woff'),
        url('Gilroy-Bold.ttf') format('truetype'),
        url('Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold_1.eot');
    src: url('Gilroy-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Bold_1.woff2') format('woff2'),
        url('Gilroy-Bold_1.woff') format('woff'),
        url('Gilroy-Bold_1.ttf') format('truetype'),
        url('Gilroy-Bold_1.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold_2.eot');
    src: url('Gilroy-Bold_2.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Bold_2.woff2') format('woff2'),
        url('Gilroy-Bold_2.woff') format('woff'),
        url('Gilroy-Bold_2.ttf') format('truetype'),
        url('Gilroy-Bold_2.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Heavy.eot');
    src: url('Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Heavy.woff2') format('woff2'),
        url('Gilroy-Heavy.woff') format('woff'),
        url('Gilroy-Heavy.ttf') format('truetype'),
        url('Gilroy-Heavy.svg#Gilroy-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Heavy_1.eot');
    src: url('Gilroy-Heavy_1.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Heavy_1.woff2') format('woff2'),
        url('Gilroy-Heavy_1.woff') format('woff'),
        url('Gilroy-Heavy_1.ttf') format('truetype'),
        url('Gilroy-Heavy_1.svg#Gilroy-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold_3.eot');
    src: url('Gilroy-Bold_3.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Bold_3.woff2') format('woff2'),
        url('Gilroy-Bold_3.woff') format('woff'),
        url('Gilroy-Bold_3.ttf') format('truetype'),
        url('Gilroy-Bold_3.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold_4.eot');
    src: url('Gilroy-Bold_4.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Bold_4.woff2') format('woff2'),
        url('Gilroy-Bold_4.woff') format('woff'),
        url('Gilroy-Bold_4.ttf') format('truetype'),
        url('Gilroy-Bold_4.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold_5.eot');
    src: url('Gilroy-Bold_5.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Bold_5.woff2') format('woff2'),
        url('Gilroy-Bold_5.woff') format('woff'),
        url('Gilroy-Bold_5.ttf') format('truetype'),
        url('Gilroy-Bold_5.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Heavy_2.eot');
    src: url('Gilroy-Heavy_2.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Heavy_2.woff2') format('woff2'),
        url('Gilroy-Heavy_2.woff') format('woff'),
        url('Gilroy-Heavy_2.ttf') format('truetype'),
        url('Gilroy-Heavy_2.svg#Gilroy-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Heavy_3.eot');
    src: url('Gilroy-Heavy_3.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Heavy_3.woff2') format('woff2'),
        url('Gilroy-Heavy_3.woff') format('woff'),
        url('Gilroy-Heavy_3.ttf') format('truetype'),
        url('Gilroy-Heavy_3.svg#Gilroy-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold_6.eot');
    src: url('Gilroy-Bold_6.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Bold_6.woff2') format('woff2'),
        url('Gilroy-Bold_6.woff') format('woff'),
        url('Gilroy-Bold_6.ttf') format('truetype'),
        url('Gilroy-Bold_6.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold_7.eot');
    src: url('Gilroy-Bold_7.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Bold_7.woff2') format('woff2'),
        url('Gilroy-Bold_7.woff') format('woff'),
        url('Gilroy-Bold_7.ttf') format('truetype'),
        url('Gilroy-Bold_7.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Light.eot');
    src: url('Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Light.woff2') format('woff2'),
        url('Gilroy-Light.woff') format('woff'),
        url('Gilroy-Light.ttf') format('truetype'),
        url('Gilroy-Light.svg#Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Light_1.eot');
    src: url('Gilroy-Light_1.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Light_1.woff2') format('woff2'),
        url('Gilroy-Light_1.woff') format('woff'),
        url('Gilroy-Light_1.ttf') format('truetype'),
        url('Gilroy-Light_1.svg#Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Light_2.eot');
    src: url('Gilroy-Light_2.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Light_2.woff2') format('woff2'),
        url('Gilroy-Light_2.woff') format('woff'),
        url('Gilroy-Light_2.ttf') format('truetype'),
        url('Gilroy-Light_2.svg#Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Light_3.eot');
    src: url('Gilroy-Light_3.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Light_3.woff2') format('woff2'),
        url('Gilroy-Light_3.woff') format('woff'),
        url('Gilroy-Light_3.ttf') format('truetype'),
        url('Gilroy-Light_3.svg#Gilroy-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Medium.eot');
    src: url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Medium.woff2') format('woff2'),
        url('Gilroy-Medium.woff') format('woff'),
        url('Gilroy-Medium.ttf') format('truetype'),
        url('Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Medium_1.eot');
    src: url('Gilroy-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Medium_1.woff2') format('woff2'),
        url('Gilroy-Medium_1.woff') format('woff'),
        url('Gilroy-Medium_1.ttf') format('truetype'),
        url('Gilroy-Medium_1.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Regular.eot');
    src: url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Regular.woff2') format('woff2'),
        url('Gilroy-Regular.woff') format('woff'),
        url('Gilroy-Regular.ttf') format('truetype'),
        url('Gilroy-Regular.svg#Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Medium_2.eot');
    src: url('Gilroy-Medium_2.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Medium_2.woff2') format('woff2'),
        url('Gilroy-Medium_2.woff') format('woff'),
        url('Gilroy-Medium_2.ttf') format('truetype'),
        url('Gilroy-Medium_2.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Medium_3.eot');
    src: url('Gilroy-Medium_3.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Medium_3.woff2') format('woff2'),
        url('Gilroy-Medium_3.woff') format('woff'),
        url('Gilroy-Medium_3.ttf') format('truetype'),
        url('Gilroy-Medium_3.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Regular_1.eot');
    src: url('Gilroy-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Regular_1.woff2') format('woff2'),
        url('Gilroy-Regular_1.woff') format('woff'),
        url('Gilroy-Regular_1.ttf') format('truetype'),
        url('Gilroy-Regular_1.svg#Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Regular_2.eot');
    src: url('Gilroy-Regular_2.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Regular_2.woff2') format('woff2'),
        url('Gilroy-Regular_2.woff') format('woff'),
        url('Gilroy-Regular_2.ttf') format('truetype'),
        url('Gilroy-Regular_2.svg#Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Regular_3.eot');
    src: url('Gilroy-Regular_3.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Regular_3.woff2') format('woff2'),
        url('Gilroy-Regular_3.woff') format('woff'),
        url('Gilroy-Regular_3.ttf') format('truetype'),
        url('Gilroy-Regular_3.svg#Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

