.banner{
  background-image: url("../img/landing-page/banner.webp");
  padding: 250px 0 170px;
  margin-top: -2px;
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: 1414px) {
    padding: 208px 0;
  }
  @media (max-width: 768px) {
    padding:230px 0;
  }
  .text-cont{
    text-align: center;
    color: $white;
    margin:0 25%;
    @media (max-width:1414px) {
      margin:0 16%;
    }
    @media (max-width: 1039px) {
      margin:0 4%;
    }
    h1{
      font-size: 62px;
      line-height: 85.8%;
      @media (max-width:768px) {
        font-size: 50px;
      }
      @media (max-width:620px) {
        font-size:45px;
      }
      @media (max-width:575px) {
        font-size:35px;
      }

    }
    h4{
      font-size: 40px;
      line-height: 47px;
      font-weight: 400;
      @media (max-width:620px) {
        font-size:35px;
      }
      @media (max-width:575px) {
        font-size:25px;
      }
    }
    a{
      padding: 20px 72px;
      display: block;
      max-width: fit-content;
      margin: auto;
      font-weight: 600;
      @media (max-width:768px){
        padding:10px 30px;
      }
    }
  }
}