.contact-us{
  background: linear-gradient(90deg, $blue 25%, #f3f3f3 25%);
  padding:158px 0;
  position: relative;
  @media (max-width: 1870px) {
    background: linear-gradient(90deg, $blue 30%, #f3f3f3 30%);
  }
  @media (max-width:991px) {
    padding:60px 0;
  }
  @media (max-width:991px) {
    background:#f3f3f3;
  }
  &:before{
    content: "";
    background-image: url("../img/landing-page/contact-us.webp");
    height:805px;
    width:564px;
    position: absolute;
    left:5%;
    bottom:0;
    @media (max-width:1699px) {
      left:0;
    }
    @media (max-width:1499px) {
      background-size: 90%;
      background-repeat: no-repeat;
      height: 724px;
    }
    @media (max-width:991px){
      background-size: 60%;
      height: 483px;
    }
    @media (max-width:767px){
      display: none;
    }
  }
  .text-cont{
    @media (max-width:767px) {
      text-align: center;
    }
    h2{
      color: $blue;
      font-size: 52px;
      line-height: 124%;
    }
    p{
      font-size: 18px;
      line-height: 120%;
      color:#565656;
      font-weight:600;
      margin-bottom:30px;
    }
  }
  .form-cont{
    form{
      @media (max-width:767px) {
        text-align: center;
      }
      h3{
        margin-bottom:25px;
        font-size: 20px;
        line-height: 120%;
        color:#323232;
      }
      input{
        border: 0;
        background: #fcfcfc;
        box-shadow: 0px 4px 12px rgb(117 117 117 / 12%);
        border-radius: 8px;
        padding: 13px 24px;
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 124%;
        font-weight: 500;
        color: #000;
        &::placeholder{
          color:#959595;
          font-weight: 400;
        }
      }
      button{
        font-weight:600;
        margin-top:10px;
        padding:18px 90px;
        @media (max-width:767px) {
          padding:10px 25px;
          width: 100%;
        }
      }
    }
  }
}