.what-we-do{
  background-image:url("../img/landing-page/what-we-do-bg.webp");
  background-position:center,top;
  background-repeat: no-repeat;
  padding:55px 0;
  @media (max-width: 991px){
    background-size: cover;
  }
  .text-cont{
    padding:62px 48px;
    background: #fafafabf;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
    h4{
      color: $red;
      font-size: 16px;
      line-height: 120%;
    }
    h5{
      font-size: 18px;
      color:$blue;
      margin-bottom:50px;
    }
    ul{
      margin:0 0 65px 0;
      padding:0;
      li{
        font-size: 14px;
        line-height: 120%;
        margin-bottom: 25px;
      }
    }
    a{
      border-radius: 4px;
    }
  }
  .img-cont{
    position: relative;
    height: 100%;
    width: 600px;
    @media (max-width:991px) {
      width:auto;
      padding-top: 35px;
      text-align: center;
    }
    img{
      position: absolute;
      top: -2em;
      left:-1.5em;
      @media (max-width:1399px) {
        top: 0;
        left: 0;
        max-width: 90%;
      }
      @media (max-width:1299px) {
        max-width: 80%;
        top: 5%;
        left: 2.5%;
      }
      @media (max-width:1199px) {
        left: -3%;
      }
      @media (max-width:1160px) {
        max-width: 70%;
        top:10%;
      }
      @media (max-width:991px) {
        position: static;
      }
    }
  }
}