.who-we-are{
  padding: 45px 0 75px;
  .text-cont{
    text-align: center;
    margin-bottom: 3.5em;
    h3{
      font-size: 28px;
      line-height: 33px;
      color: $red;
      margin-bottom: 0;
    }
    h2{
      font-size: 32px;
      line-height: 38px;
      color: $blue;
      margin-bottom: 0;
    }
    p{
      font-size: 18px;
      line-height: 21px;
      margin: 1% 24% 4%;
    }
  }
  .img-cont{
    margin-top: 2em;
    position: relative;
    &:before,&:after{
      content:"";
      height:140px;
      width:140px;
      position: absolute;
      z-index: -1;
    }
    &:before{
      background:$blue;
      bottom:-15px;
      left: -15px;
    }
    &:after{
      background:$red;
      top:-15px;
      right: -15px;
    }
    img{
      width: 100%;
    }
  }
  .inner-text-cont{
    @media (max-width: 991px) {
    margin-top:5em;
    }
    padding-left: 15px;
    h4{
      font-size: 16px;
      line-height: 120%;
      color: $red;
    }
    h2{
      font-size: 32px;
      line-height: 120%;
    }
    ul{
      padding:0;
      margin:0;
      li{
        font-size: 14px;
        line-height: 120%;
        margin-bottom: 22px;
      }
    }
    a{
      border-radius:4px;
      font-size: 16px;
      line-height: 120%;
    }
  }
}